body {
    background: #fafafa;
    color: #212121;
    opacity: 0.87;
    font-family: "Noto Sans", "Helvetica", sans-serif;
}

.empty-message {
    opacity: 0.38;
}

#filechooser-open {
    display: none;
}

#terms {
    width: 100%;
    display: flex;
    flex-flow: row wrap-reverse;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

#terms > div {
    margin: 10px;
}

#terms-errors:not(.empty) + #terms-grades { max-width: 1000px; }
#terms-errors.empty       + #terms-grades { max-width: 100%; }

#terms-errors:not(.empty) {
    flex: 1;
}

#terms-errors.empty {
    flex: none;
    max-width: 300px;
}

#terms-errors.empty > table { display: none; }
#terms-errors.empty > .empty-message { display: initial; }
#terms-errors:not(.empty) > .empty-message { display: none; }

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
}

.grade-cell {
    white-space: nowrap;
    text-align: center;
}

td, th {
    padding: 2px;
    border-bottom: thin solid grey;
}

/* leave 50% for grades collectively, set on creation in JS */
#col-terms-field        { width: 20%; }
#col-terms-subject      { width: 10%; }
#col-terms-totalterms   { width: 10%; }
#col-terms-totalpoints  { width: 10%; }

.grade-value {
    margin: 1px;
    font-size: 125%;
    width: 3em;
    color: inherit;
    background: none;
    border: none;
    border-bottom: medium solid;
    text-align: right;
}

.grade-value::placeholder {
    opacity: 0.38 !important;
    color: #212121 !important;
}

.grade-checkbox:checked      ~ .grade-value { border-bottom-color: #4caf50; }
.grade-checkbox:not(checked) ~ .grade-value { border-bottom-color: #9e9e9e; }
.grade-checkbox:checked      ~ .grade-value.empty { border-bottom-color: #03a9f4; }
.grade-checkbox:not(checked) ~ .grade-value.empty { border-bottom-color: #9e9e9e; }
.grade-checkbox:checked      ~ .grade-value.invalid-input { border-bottom-color: #f44336; }
.grade-checkbox:not(checked) ~ .grade-value.invalid-input { border-bottom-color: #c9706a; }

.total-terms, .total-points {
    text-align: center;
}

.total-terms.invalid > .total-terms-text {
    color: #f44336;
}

/* .total-terms.invalid > .icon-invalid { display: inline-block; } */

.icon-invalid {
    /* display: inline-block; */
    width: 18;
    height: 18;
    background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%3Cpath%20d%3D%22M9%201.03c-4.42%200-8%203.58-8%208s3.58%208%208%208%208-3.58%208-8-3.58-8-8-8zM10%2013H8v-2h2v2zm0-3H8V5h2v5z%22%2F%3E%3C%2Fsvg%3E);
}
span.icon-invalid > svg > path { fill: #f44336; }

#lbl-terms-sum, #lbl-terms-result > span:not(.math) {
    text-transform: uppercase;
}

.math {
    font-family: "TeX Gyre Termes Math", "Palatino Linotype", serif;
}

footer {
    border-top: thin dotted grey;
    color: grey;
}

#version { float: left; }
#version::before {
    content: 'Version';
    padding-right: .3em;
}

#copyright {
    text-align: right;
}
