body {
    background: #fafafa;
    color: #212121;
    opacity: 0.87;
    font-size: 13px;
    font-family: sans-serif;
}

h1 {
    color: #2196f3;
    opacity: 0.87;
    font-size: 56px;
    font-weight: 200;
    margin: 25px 10px;
}

h2 {
    color: #2196f3;
    font-size: 34px;
    font-weight: 500;
    margin: 30px 10px 10px 10px;
}

h3 {
    font-size: 24px;
    font-weight: 400;
}

.hdr-errorlist {
    color: #f44336;
}

th {
    font-weight: 600;
}

input[type="button"] {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(14, 71, 161, 0.87);
    background: #bbdefb;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 2px 5px;
    transition: 0.2s ease;
}

input[type="button"]:hover {
    background: #90caf9;
    box-shadow: 1px 1px 3px grey;
}

input[type="button"]:active {
    background: #64b5f6;
    box-shadow: 1px 1px 3px 1px grey;
}

.empty-message {
    opacity: 0.38;
}

#filechooser-open {
    display: none;
}

#terms {
    width: 100%;
    display: flex;
    flex-flow: row wrap-reverse;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

#terms > div {
    margin: 10px;
}

#terms-errors:not(.empty) + #terms-grades { max-width: 1000px; }
#terms-errors.empty       + #terms-grades { max-width: 100%; }

#terms-errors:not(.empty) {
    flex: 1;
}

#terms-errors.empty {
    flex: none;
    max-width: 300px;
}

#terms-errors.empty > table { display: none; }
#terms-errors.empty > .empty-message { display: initial; }
#terms-errors:not(.empty) > .empty-message { display: none; }

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
}

.grade-cell {
    white-space: nowrap;
    text-align: center;
}

td, th {
    padding: 2px;
    border-bottom: thin solid #ccc;
}

/* leave 50% for grades collectively, set on creation in JS */
#col-terms-field        { width: 20%; }
#col-terms-subject      { width: 10%; }
#col-terms-totalterms   { width: 10%; }
#col-terms-totalpoints  { width: 10%; }

.grade-value {
    margin: 1px;
    font-size: 125%;
    width: 3em;
    color: inherit;
    background: none;
    border: none;
    border-bottom: 2px solid;
    text-align: right;
    transition: 0.15s ease;
}

/* do our own styling for invalid fields */
.grade-value:invalid {
    box-shadow: none;
}

.grade-value::placeholder {
    opacity: 0.38;
    color: #212121;
}

.grade-checkbox:checked      ~ .grade-value { border-bottom-color: #4caf50; }
.grade-checkbox:not(checked) ~ .grade-value { border-bottom-color: #9e9e9e; }
.grade-checkbox:checked      ~ .grade-value.empty { border-bottom-color: #03a9f4; }
.grade-checkbox:not(checked) ~ .grade-value.empty { border-bottom-color: #9e9e9e; }
.grade-checkbox:checked      ~ .grade-value.invalid-input { border-bottom-color: #f44336; }
.grade-checkbox:not(checked) ~ .grade-value.invalid-input { border-bottom-color: #c9706a; }

.total-terms, .total-points {
    text-align: center;
}

#total-terms.invalid, .total-terms.invalid {
    color: #f44336;
    cursor: help;
}

/* needs ::after for the -100% to refer to the width of the span, not the parent */
#total-terms.invalid > span.error-indicator::after,
.total-terms.invalid > span.error-indicator::after {
    /* align numbers as if the error indicator wasn't there */
    margin-right: -100%;
    content: " ⚠";
}

#lbl-terms-sum, #lbl-terms-result > .title {
    text-transform: uppercase;
}

dl {
    padding: 10px;
}

dt {
    font-weight: bold;
}

.math {
    font-family: "TeX Gyre Termes Math", "Palatino Linotype", serif;
    margin-left: 5px;
    margin-right: 5px;
}

.operator {
    margin-left: 2px;
    margin-right: 2px;
}

.fraction {
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
    vertical-align: middle;
}

.fraction > .numerator {
    border-bottom: thin solid black;
}

.fraction > .denominator {
    border-top: thin solid black;
}

footer {
    border-top: thin dotted black;
    color: black;
    opacity: 0.38;
}

#version { float: left; }
#version::before {
    content: 'Version';
    padding-right: .3em;
}

#copyright {
    text-align: right;
}
